.onBoarding
    width: 100vw
    height: 100vh
    background-color: $black
    background-image: url("/image/backgroundIndex.png")
    overflow: hidden !important

    &__boxPagination
        display: flex
        margin-bottom: 16px

    &__wrapper
        width: 100%
        height: 100vh
        padding: 16px
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-content: flex-end

    &__paginationCircle
        width: 8px
        height: 8px
        background-color: $lightGrayRGBA
        border-radius: 50%
        margin-right: 8px

        &--active
            background-color: $lightGray

    &__slider
        display: flex
        width: 300vw
        margin-bottom: 32px

    &__slide
        padding-right: 16px
        width: calc(100vw - 16px) !important
        transition: 0.3s

.signIn
    width: 100vw
    height: 100vh
    background-color: $black
    overflow: hidden !important

    &__wrapper
        width: 100%
        height: 100vh
        padding: 16px
        display: flex
        flex-direction: column
        justify-content: space-between

    &__logo
        margin-bottom: 16px

    &__headingOne
        margin-bottom: 32px

    &__topBox
        text-align: center
        margin-top: 30%

.signUp
    width: 100vw
    height: 100vh
    background-color: $black
    overflow: hidden !important

    &__wrapper
        width: 100%
        height: 100vh
        padding: 16px
        display: flex
        flex-direction: column
        justify-content: space-between

    &__logo
        margin-bottom: 16px

    &__headingOne
        margin-bottom: 32px

    &__topBox
        text-align: center
        margin-top: 30%

    &__label
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-content: flex-start
        align-items: flex-start
        margin-bottom: 16px

        &--span
            margin-bottom: 8px
            margin-left: 8px
            color: $gray
            font-size: 1rem
            line-height: 1.6rem
            font-weight: 500

    &__input
        width: 100%
        background-color: transparent
        border: 1px solid $gray
        font-size: 1.4rem
        line-height: 2rem
        font-weight: 500
        padding: 16px
        border-radius: 16px
        color: $white
        font-size: 1.6rem
        line-height: 1.6rem
        font-weight: 500

.homeCryptocurrency
    width: 100vw
    background-color: $black
    overflow: hidden !important

    &__wrapper
        width: 100%
        padding: 16px
        display: flex
        flex-direction: column

    &__topBox
        display: flex
        flex-direction: row
        align-content: center
        align-items: center
        justify-content: space-between

    &__user
        width: 32px
        height: 32px
        background-color: $lime
        border-radius: 8px
        display: flex
        justify-content: center
        align-items: center

    &__userIcon
        width: 14px
        height: 18px

    &__search
        width: 80%
        margin: 0px 16px

    &__inputSearch
        width: 100%
        font-size: 1.8rem
        color: $gray
        background-color: $dark
        border: none
        border-radius: 8px
        height: 32px

    &__totalAssets
        margin-top: 32px
        background-image: url("/image/totalAssetsBackground.png")
        background-size: cover
        padding: 16px

    &__totalUSD,
    &__totalBTC
        color: $white
        font-size: 2.2rem
        line-height: 2.7rem
        padding-right: 8px

    &__paragraphTotalUSD
        margin: 16px 0px

    &__actionBoxWithButtons
        width: 100%
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

    &__actionHalfWidthBox
        width: 47.5%
        display: flex
        flex-direction: row
        align-content: center
        align-items: center
        background-color: $dark
        padding: 16px
        border-radius: 8px

    &__paragraphWhite
        padding-left: 16px

    &__actionQuarterWidthBox
        width: 21%
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        background-color: $dark
        padding: 16px
        border-radius: 8px
        margin-top: 16px

    &__icon
        margin-bottom: 8px

    &__actionDashboard
        margin-top: 32px
    
.newsSlider
    width: 100%
    background-color: $black
    background-image: url("/image/backgroundNews.png")
    overflow: hidden !important
    background-size: cover
    border-radius: 8px
    margin: 32px 0px 16px 0px

    &__boxPagination
        display: flex
        margin: 0 auto

    &__wrapper
        width: 100%
        padding: 0px 16px
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-content: flex-end

    &__paginationCircle
        width: 8px
        height: 8px
        background-color: $lightGrayRGBA
        border-radius: 50%
        margin-right: 8px

        &--active
            background-color: $lightGray

    &__slider
        display: flex
        width: 300vw
        margin-bottom: 32px

    &__slide
        padding-right: 16px
        width: calc(100vw - 16px) !important
        transition: 0.3s
        margin-top: 32px

    &__heading
        width: 75%

.topCryptocurrency
    width: 100%
    background-color: $black
    overflow: hidden !important
    margin-top: 32px

    &__headingBox
        display: flex
        justify-content: space-between
        align-content: center
        align-items: center
    
    &__heading
        margin-bottom: 0px

    &__grayLink
        padding: 0px

    &__rowDashboard
        background-color: $dark
        display: flex
        padding: 16px
        border-bottom: 1px solid $lightGrayRGBA

        &:first-of-type
            border-top-left-radius: 8px
            border-top-right-radius: 8px

        &:last-of-type
            border-bottom-left-radius: 8px
            border-bottom-right-radius: 8px
            border-bottom: 1px solid transparent

    &__dashboard
        display: flex
        flex-direction: column
        margin-top: 16px

    &__paragraphShortcut
        font-size: 1.2rem

    &__paragraphPercent
        font-size: 1.2rem
        color: $green

        &--red
            color: $red

    &__cryptoName
        width: 30%
        margin-left: 12px

    &__price
        width: 30%
        text-align: right

.bottomFixedSection
    width: 100%
    background-color: $black
    overflow: hidden !important
    margin-top: 32px
    border-top: 1px solid $lightGrayRGBA

    &__wrapper
        display: flex
        justify-content: space-between
        padding: 16px 0px 0px 0px
    
    &__box
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center

    &__paragraph
        margin-top: 3px
        color: $grayIcon