.headingOne
    font-family: 'Manrope', sans-serif
    font-size: 3.2rem
    font-weight: 700
    line-height: 4.1rem
    color: $white
    margin-bottom: 16px

.paragraph
    font-family: 'Manrope', sans-serif
    font-size: 1.4rem
    line-height: 2rem
    font-weight: 500
    color: $lightGray

.buttonLimeFullWidth
    width: 100%
    background-color: $lime
    border: none
    font-size: 1.4rem
    line-height: 2rem
    font-weight: 500
    padding: 16px
    border-radius: 16px

.grayLink
    display: block
    text-align: center
    font-family: 'Manrope', sans-serif
    font-size: 1.4rem
    line-height: 2rem
    font-weight: 500
    text-decoration: none
    color: $gray
    padding: 16px
    
